* {
    box-sizing: border-box;
}

body {
    overflow-y: hidden;
    overflow-x: hidden;
}

.frame {
    width: 100%;
    height: 100%;
    .loginWrapper {
        width: 300px;
        height: 350px;
        margin: auto;
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        display: block;
        background: #fff;
        z-index: 20;
    }
    
    .row {
        padding: 0 0 1rem 0;
    }

    input {
        height: 50px;
    }

    button {
        border: none;
        outline: none;
        margin: 0 auto;
        display: block;
        height: 30px;
        line-height: 30px;
        width: 100px;
        color: #fff;
        text-transform: uppercase;
        background-color: #98C81E;
        cursor: pointer;
        letter-spacing: .5px;
        text-align: center;
    }
    /*Heksagoni gore lijevo*/
    .hexWrap1 {
        position: absolute;
        top: -50px;
        left: -18px;
        .hexagon1 {
            width: 115px;
            height: 200px;
            background: #7C579D;
            position: relative;
            z-index: 5;
            &:before {
                content: "";
                position: absolute;
                right: 115px;
                top: 0;
                width: 0;
                height: 0;
                border-top: 100px solid transparent;
                border-bottom: 100px solid transparent;
                border-right: 57px solid #7C579D;
            }
            &:after {
                content: "";
                position: absolute;
                left: 115px;
                top: 0;
                width: 0;
                height: 0;
                border-top: 100px solid transparent;
                border-bottom: 100px solid transparent;
                border-left: 57px solid #7C579D;
            }
        }
    }

    .hexWrap2{
        position: absolute;
        opacity: 0.8;
        top: -30px;
        left: 137px;
        z-index: 2;
        .hexagon2 {
            width: 115px;
            height: 200px;
            background: #98C81E;
            position: relative;
            z-index: 5;
            &:before {
                content: "";
                position: absolute;
                right: 115px;
                top: 0;
                width: 0;
                height: 0;
                border-top: 100px solid transparent;
                border-bottom: 100px solid transparent;
                border-right: 57px solid #98C81E;
            }
            &:after {
                content: "";
                position: absolute;
                left: 115px;
                top: 0;
                width: 0;
                height: 0;
                border-top: 100px solid transparent;
                border-bottom: 100px solid transparent;
                border-left: 57px solid #98C81E;
            }
        }
    }

    .hexWrap3{
        position: absolute;
        opacity: 0.6;
        top: 80px;
        left: 20px;
        .hexagon3 {
            width: 115px;
            height: 200px;
            background: #00AAE6;
            position: relative;
            z-index: 5;
            &:before {
                content: "";
                position: absolute;
                right: 115px;
                top: 0;
                width: 0;
                height: 0;
                border-top: 100px solid transparent;
                border-bottom: 100px solid transparent;
                border-right: 57px solid #00AAE6;
            }
            &:after {
                content: "";
                position: absolute;
                left: 115px;
                top: 0;
                width: 0;
                height: 0;
                border-top: 100px solid transparent;
                border-bottom: 100px solid transparent;
                border-left: 57px solid #00AAE6;
            }
        }
    }

    /*Heksagoni gore desno*/
    .hexWrap4 {
        position: absolute;
        top: -50px;
        right: -18px;
        .hexagon4 {
            width: 115px;
            height: 200px;
            background: #00AAE6;
            position: relative;
            z-index: 5;
            &:before {
                content: "";
                position: absolute;
                right: 115px;
                top: 0;
                width: 0;
                height: 0;
                border-top: 100px solid transparent;
                border-bottom: 100px solid transparent;
                border-right: 57px solid #00AAE6;
            }
            &:after {
                content: "";
                position: absolute;
                left: 115px;
                top: 0;
                width: 0;
                height: 0;
                border-top: 100px solid transparent;
                border-bottom: 100px solid transparent;
                border-left: 57px solid #00AAE6;
            }
        }
    }

    .hexWrap5{
        position: absolute;
        opacity: 0.8;
        top: -30px;
        right: 137px;
        z-index: 2;
        .hexagon5 {
            width: 115px;
            height: 200px;
            background: #98C81E;
            position: relative;
            z-index: 5;
            &:before {
                content: "";
                position: absolute;
                right: 115px;
                top: 0;
                width: 0;
                height: 0;
                border-top: 100px solid transparent;
                border-bottom: 100px solid transparent;
                border-right: 57px solid #98C81E;
            }
            &:after {
                content: "";
                position: absolute;
                left: 115px;
                top: 0;
                width: 0;
                height: 0;
                border-top: 100px solid transparent;
                border-bottom: 100px solid transparent;
                border-left: 57px solid #98C81E;
            }
        }
    }

    .hexWrap6{
        position: absolute;
        opacity: 0.6;
        top: 80px;
        right: 20px;
        .hexagon6 {
            width: 115px;
            height: 200px;
            background: #7C579D;
            position: relative;
            z-index: 5;
            &:before {
                content: "";
                position: absolute;
                right: 115px;
                top: 0;
                width: 0;
                height: 0;
                border-top: 100px solid transparent;
                border-bottom: 100px solid transparent;
                border-right: 57px solid #7C579D;
            }
            &:after {
                content: "";
                position: absolute;
                left: 115px;
                top: 0;
                width: 0;
                height: 0;
                border-top: 100px solid transparent;
                border-bottom: 100px solid transparent;
                border-left: 57px solid #7C579D;
            }
        }
    }

    /*Heksagoni dolje desno*/
    .hexWrap7 {
        position: absolute;
        bottom: -50px;
        right: -18px;
        .hexagon7 {
            width: 115px;
            height: 200px;
            background: #7C579D;
            position: relative;
            z-index: 5;
            &:before {
                content: "";
                position: absolute;
                right: 115px;
                top: 0;
                width: 0;
                height: 0;
                border-top: 100px solid transparent;
                border-bottom: 100px solid transparent;
                border-right: 57px solid #7C579D;
            }
            &:after {
                content: "";
                position: absolute;
                left: 115px;
                top: 0;
                width: 0;
                height: 0;
                border-top: 100px solid transparent;
                border-bottom: 100px solid transparent;
                border-left: 57px solid #7C579D;
            }
        }
    }

    .hexWrap8{
        position: absolute;
        opacity: 0.8;
        bottom: -30px;
        right: 137px;
        z-index: 2;
        .hexagon8 {
            width: 115px;
            height: 200px;
            background: #00AAE6;
            position: relative;
            z-index: 5;
            &:before {
                content: "";
                position: absolute;
                right: 115px;
                top: 0;
                width: 0;
                height: 0;
                border-top: 100px solid transparent;
                border-bottom: 100px solid transparent;
                border-right: 57px solid #00AAE6;
            }
            &:after {
                content: "";
                position: absolute;
                left: 115px;
                top: 0;
                width: 0;
                height: 0;
                border-top: 100px solid transparent;
                border-bottom: 100px solid transparent;
                border-left: 57px solid #00AAE6;
            }
        }
    }

    .hexWrap9{
        position: absolute;
        opacity: 0.6;
        bottom: 80px;
        right: 20px;
        .hexagon9 {
            width: 115px;
            height: 200px;
            background: #98C81E;
            position: relative;
            z-index: 5;
            &:before {
                content: "";
                position: absolute;
                right: 115px;
                top: 0;
                width: 0;
                height: 0;
                border-top: 100px solid transparent;
                border-bottom: 100px solid transparent;
                border-right: 57px solid #98C81E;
            }
            &:after {
                content: "";
                position: absolute;
                left: 115px;
                top: 0;
                width: 0;
                height: 0;
                border-top: 100px solid transparent;
                border-bottom: 100px solid transparent;
                border-left: 57px solid #98C81E;
            }
        }
    }

    /*Heksagoni dolje lijevo*/
    .hexWrap10 {
        position: absolute;
        bottom: -50px;
        left: -18px;
        .hexagon10 {
            width: 115px;
            height: 200px;
            background: #98C81E;
            position: relative;
            z-index: 5;
            &:before {
                content: "";
                position: absolute;
                right: 115px;
                top: 0;
                width: 0;
                height: 0;
                border-top: 100px solid transparent;
                border-bottom: 100px solid transparent;
                border-right: 57px solid #98C81E;
            }
            &:after {
                content: "";
                position: absolute;
                left: 115px;
                top: 0;
                width: 0;
                height: 0;
                border-top: 100px solid transparent;
                border-bottom: 100px solid transparent;
                border-left: 57px solid #98C81E;
            }
        }
    }

    .hexWrap11{
        position: absolute;
        opacity: 0.8;
        bottom: -30px;
        left: 137px;
        z-index: 2;
        .hexagon11 {
            width: 115px;
            height: 200px;
            background: #00AAE6;
            position: relative;
            z-index: 5;
            &:before {
                content: "";
                position: absolute;
                right: 115px;
                top: 0;
                width: 0;
                height: 0;
                border-top: 100px solid transparent;
                border-bottom: 100px solid transparent;
                border-right: 57px solid #00AAE6;
            }
            &:after {
                content: "";
                position: absolute;
                left: 115px;
                top: 0;
                width: 0;
                height: 0;
                border-top: 100px solid transparent;
                border-bottom: 100px solid transparent;
                border-left: 57px solid #00AAE6;
            }
        }
    }

    .hexWrap12{
        position: absolute;
        opacity: 0.6;
        bottom: 80px;
        left: 20px;
        .hexagon12 {
            width: 115px;
            height: 200px;
            background: #7C579D;
            position: relative;
            z-index: 5;
            &:before {
                content: "";
                position: absolute;
                right: 115px;
                top: 0;
                width: 0;
                height: 0;
                border-top: 100px solid transparent;
                border-bottom: 100px solid transparent;
                border-right: 57px solid #7C579D;
            }
            &:after {
                content: "";
                position: absolute;
                left: 115px;
                top: 0;
                width: 0;
                height: 0;
                border-top: 100px solid transparent;
                border-bottom: 100px solid transparent;
                border-left: 57px solid #7C579D;
            }
        }
    }                                
}

